name: Upload from Google Drive

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Install gdown
        run: pip install gdown
        
      - name: Download file from Google Drive
        run: |
          FILE_ID="15SPstaWTyDgmGLq88IDtD-fmr86dGaVG"
          FILENAME="Nidam Benchmark - Win x64 cli.zip"
          gdown --id $FILE_ID -O "$FILENAME"

      - name: Upload to existing release
        uses: softprops/action-gh-release@v2
        with:
          release_id: 273638614
          files: "Nidam Benchmark - Win x64 cli.zip"
          overwrite: true 
          existing: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
